
canvas {
    background: azure;
    background: linear-gradient(to bottom right, cornflowerblue, lightsteelblue);
    cursor: url(steering_wheel.cur), default;
}

body {
    margin: 0;
    overflow: hidden;
}

#ship {
    width:100%;
    height: auto;
}
