
canvas {
    background: azure;
    background: linear-gradient(to bottom left, cadetblue, lightcyan);
}

body {
    margin: 0;
    overflow: hidden;
}

#ship {
    width:100%;
    height: auto;
    margin: 0;
    padding: 0;
}
